{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <h1>Despre Forumul Intelectualilor</h1>
        <p>Acest site a fost creeat special pentru oamenii intelectuali care vor un loc in care sa schimbe idei marete. Forumul Intelectualilor este locul perfect pentru acest lucru. Acest site a fost dezvoltat de catre un intelectual cu o dorinta arzatoare de a oferi persoanelor cu intelect pe masura, care sunt inconjurate de așa-ziși cretinoizi, un loc sigur in care sa se simta acceptati si sa evite dezgustul provocat de mințile inferioare.</p>
    </div>
{% endblock content %}
